:root {
  --primary-color: #2e2119;
  --box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.7);
  --border: 2px solid var(--primary-color);
}

body {
  background: #ffe3ab;
  max-width: 800px;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: var(--primary-color);
}

h1 {
  margin-top: 20px;
}
h2,
h4 {
  opacity: 0.8;
}
img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 4px;
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 10px;
  margin: 10px;
}
footer {
  margin: 40px auto;
}
.github-link {
  color: var(--primary-color);
  font-weight: bold;
}
.photo-link,
.contact-link,
.home-link {
  color: var(--primary-color);
  border: var(--border);
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
  display: inline;
  margin: 10px;
  text-transform: capitalize;
}
a:hover {
  text-decoration: underline;
}
.croissant-email {
  color: var(--primary-color);
  font-weight: bold;
}
.summary {
  text-align: center;
}
.container {
  max-width: 700px;
}
.croissant-grid {
  margin-bottom: 20px;
}
.links {
  margin: 20px auto;
}
.vote-image:hover {
  cursor: pointer;
}
