:root {
  --primary-color: #2e2119;
  --box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.7);
  --border: 2px solid var(--primary-color);
}

body {
  background: #ffe3ab;
  max-width: 900px;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: var(--primary-color);
}

h1 {
  margin-top: 20px;
}
h2,
h3 {
  opacity: 0.8;
}
img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 4px;
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 10px;
  margin: 10px;
}
.summary {
  text-align: center;
}
.container {
  max-width: 700px;
}
